body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: lightgoldenrodyellow;
  color: green;
  border-radius: 0;
  border-bottom: 10px solid pink;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  /* border-top: 1px solid black; */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #ff6961;
  color: black;
}

.present {
  background-color: #d3d3d3;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.save-btn {
  border: 1px solid lightgreen;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: pink;
  background-color: lightyellow;
}